{% extends "baseNotUser.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}
	
	<header>
								
		<div class = "textContainer">
			<h1 class = "articleHeaders">Nice to meet You!</h1>
			<div style = "text-align: justify">I'm glad You are here... :) Your email and password, you given during the registration, are from now You're unique key. Make sure that You won't lost it and always will be able to enter inside. I'll go and prepare the necessery books and in the meantime You check Your email. There should be the activation link. Click on it and then just knock on the door.</div>
			
		</div>

	</header>
	
{% endblock %}
