{% extends "baseNotUser.html" %}

{% block title %}Reset password{% endblock %}

{% block footer %} <!-- At least it will be placed on the bottom of base template, where the footer block is. -->
	<script src = "/js/app.js"></script>
	<script>

		$(document).ready(function() {

			/**
			 * Validate the form
			 */
			$('#formSignup').validate({
				rules: {
					password: {
						required: true,
						minlength: 6,
						validPassword: true
					},
					password_confirmation: {
						equalTo: '#inputPassword'
					}
				},
				messages: {
					password: {
						required: messagesEN.get('password required')
					},
					password_confirmation: {
						required: messagesEN.get('password confirmation required')
					}
				},
				errorPlacement: function(error, element) {
					if (element.attr("name") == "password" ||
						element.attr("name") == "password_confirmation") {
							   
						$("#quickErrorMsgsPassword").append("<div class = 'errorMsgs'>");
						error.appendTo($("#quickErrorMsgsPassword"));
						$("#quickErrorMsgsPassword").append("</div>");
						
					}
				}
			});
		});
	
	</script>

{% endblock %}

{% block body %}
	
	<header>
	
		<div class = "textContainer">
			<h1 class = "articleHeaders">Reset Password</h1>
			<div class = "oneLineCenterText">Here, You can reset Your password</div>
		</div>
	
	</header>
	
	<div class = "row">
	
		<div class = "col-12">
	
			<div class = "registrationLogInForm">
				
				<form method="post" action = "/password/reset-password" id="formSignup">
					
					<input type = "hidden" name = "token" value = "{{ token }}" />
					
					<input class = "form-control registrationLogInForm" id = "inputPassword" name = "password" type = "password" placeholder = "password" required>
					
					<input class = "form-control registrationLogInForm" name = "password_confirmation" type = "password" placeholder = "confirm password" required>
					<div style = "clear:both;"></div>
					
					<div class = "allErrorMsgsDiv" id = "quickErrorMsgsPassword">
						<div class = "errorMsgs">
						</div>
					</div>
					
					{% if user.errors is not empty %}
						<div class = "allErrorMsgsDiv">
							<div class = "errorMsgs">Check it:</div>
							<ul>
								{% for error in user.errors %}
									<li><div class = "errorMsgs">{{ error }}</div></li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
					
					<input class = "registrationLogInForm" type = "submit" value = "Send!">
					<div style = "clear:both;"></div>
				
				</form>
				
			</div>
		
		</div>
		
	</div>

{% endblock %}