<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box;">
<head style="box-sizing: border-box;">

	<meta charset="utf-8" style="box-sizing: border-box;">
	<meta name="viewport" content="width=device-width, initial-scale=1" style="box-sizing: border-box;">
	
	<title style="box-sizing: border-box;">Catch Your Coins</title>
	<meta name="description" content="Catch Your every single coin!" style="box-sizing: border-box;">
	<meta name="keywords" content="money, savings, credits, new car, new game, new clothes" style="box-sizing: border-box;">
	<meta name="author" content="Naioku" style="box-sizing: border-box;">
	
	<meta http-equiv="X-Ua-Compatible" content="IE=edge" style="box-sizing: border-box;">
	
	<!-- Bootstrap CSS -->
	
	<!-- My CSS -->
	
	

	<link rel="preconnect" href="https://fonts.gstatic.com" style="box-sizing: border-box;">
	
	
	
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
	
</head>
<body style="box-sizing: border-box;margin: 0;font-family: 'Caveat', cursive;font-size: 35px;font-weight: 500;line-height: 1.25;color: #ffffff;background-color: #fff;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;background-image: url(../img/planting-trees-coin-pile-with-sunlight.jpg);background-position: center;background-size: cover;background-attachment: fixed;">
	<main style="box-sizing: border-box;">
		<article style="box-sizing: border-box;">	
			<section style="box-sizing: border-box;">
				<div class="container myContainer" style="box-sizing: border-box;width: 80%;padding-right: var(--bs-gutter-x,.75rem);padding-left: var(--bs-gutter-x,.75rem);margin-right: auto;margin-left: auto;background-color: #665647;max-width: 1010px;padding: 25px 40px;-webkit-box-shadow: 3px 3px 30px 5px rgba(34,18,3,1);-moz-box-shadow: 3px 3px 30px 5px rgba(34,18,3,1);box-shadow: 3px 3px 30px 5px rgba(34,18,3,1);text-align: justify;border: 5px solid #666647;border-radius: 10px;opacity: 0.9;">
					<div class="row" style="box-sizing: border-box;--bs-gutter-x: 1.5rem;--bs-gutter-y: 0;display: flex;flex-wrap: wrap;margin-top: calc(var(--bs-gutter-y) * -1);margin-right: calc(var(--bs-gutter-x)/ -2);margin-left: calc(var(--bs-gutter-x)/ -2);">
						<div class="col-12" style="box-sizing: border-box;flex-shrink: 0;width: 100%;max-width: 100%;padding-right: calc(var(--bs-gutter-x)/ 2);padding-left: calc(var(--bs-gutter-x)/ 2);margin-top: var(--bs-gutter-y);flex: 0 0 auto;">
							<header style="box-sizing: border-box;">
	
								<div class="textContainer" style="box-sizing: border-box;">
									<h1 class="articleHeaders" style="box-sizing: border-box;margin-top: 0;margin-bottom: 20px;font-weight: 700;line-height: 1.2;font-size: 55px;color: #ffffaa;text-align: center;">Aktywacja konta</h1>
									<div class="oneLineCenterText" style="box-sizing: border-box;color: #ffffff;text-align: center;font-size: 35px;">
										Dziękuję za dokonanie rejestracji. <a href="{{ url }}" class="myLink" style="box-sizing: border-box;color: #63D603;text-decoration: none;">Kliknij tutaj, aby aktywować swoje konto</a>.
									</div>
								</div>
							
							</header>
						</div>
					</div>
				</div>
			</section>
		</article>
	</main>
</body></html>