{% extends "baseNotUser.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}
	
	<header>
								
		<div class = "textContainer">
			<h1 class = "articleHeaders">Miło mi Cię poznać!</h1>
			<div style = "text-align: justify">Cieszę się, że tu jesteś... :) Twoje email i hasło podane podczas rejestracji, będą od teraz Twoim unikalnym kluczem. Upewnij się, że nie zginą i zawsze będziesz mieć możliwość wejścia do środka. Ja pójdę przygotować potrzebne książki a w międzyczasie Ty sprawdź swoją skrzynkę mailową. Powinien tam już czekać na Ciebie link aktywacyjny. Kliknij w niego, a potem zapukaj do drzwi.</div>
			
		</div>

	</header>
	
{% endblock %}
