{% extends "baseNotUser.html" %}

{% block title %}Log in{% endblock %}

{% block body %}

	<header>
								
		<div class = "textContainer">
			<h1 class = "articleHeaders">Come in!</h1>
			<div class = "oneLineCenterText">Use Your key, to get in! :)</div>
		</div>
	
	</header>
	
	<div class = "row">
	
		<div class = "col-12">
	
			<div class = "registrationLogInForm">
				
				<form action = "/login/create" method = "post">
					
					<input class = "form-control registrationLogInForm emailLogInForm" type = "email" placeholder = "email" name = "email">
					<input class = "form-control registrationLogInForm" type = "password" placeholder = "password" name = "password">
					<div style = "clear:both;"></div>
					
					<div class = "checkboxAndForgotPassword">
						<div style = "float: left;" class = "checkbox">
							<label>
								<input type="checkbox" name="remember_me" {% if remember_me %} checked="checked"{% endif %} /> Remember me
							</label>
						</div>
						<div style = "float: right;" class = "forgotPassword">
							<a href = "/password/forgot">Forgot password?</a>
						</div>
						<div style = "clear:both;"></div>
					</div>
					
					<input class = "registrationLogInForm" type = "submit" value = "Yup! It's me!">
					<div style = "clear:both;"></div>
					
				</form>
								
			</div>
		
		</div>
	
	</div>

{% endblock %}